    <link rel="stylesheet" href="~/css/current-weather.css" asp-append-version="true" />

    @* Specify the model that this view expects, which is the CurrentWeatherResponse *@
    @model ForecastFavorLib.Models.CurrentWeatherResponse


    @{
        ViewData["Title"] = "Current Weather";
        var conditionMessage = "Cloudy. Wind up to 15 km/h. High minus 5. Wind chill near minus 12. UV index 1 or low.";
    }
    @* Display the current weather heading, indicating the location as Sudbury *@
    <div class="container mt-5">
        <div id="cwcNow" style="">
            <section id="currentWeatherConditionSection">
                <div id="currentWeatherCondition">
                    <div id="current-condition-header">
                        <h1 id="current-condition-location">
                            @Model.Location.Name,
                            @Model.Location.Region,
                            @Model.Location.Country
                        </h1>
                        <span id="current-condition-timestamp">
                            as of @DateTime.Now
                        </span>
                    </div>

                    <div id="current-condition-body">
                        <div id="current-condition-columns">
                            <div id="current-condition-primary">
                                <span id ="current-temperature">
                                    @Model.Current.TemperatureC °C &deg;(@Model.Current.TemperatureF °F)
                                </span>

                                <div id ="current-condition-text">@Model.Current.Condition.Text

                                </div>

                                <div id ="current-feels-like">
                                    <span>Feels like @Model.Current.FeelsLikeC &deg;C</span>
                                </div>

                            </div>
                            <div>
                                <img src ="https:@Model.Current.Condition.Icon" />
                            </div>
                        </div>

                        <div class="current-condition-messages">
                            <a href="https://weather.com/travel/video/leaning-tower-in-italy-could-topple-over-officials-fear">@conditionMessage</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        @*current weather hourly details*@
        <div id="cwcDetails">
            <section>
                <header>
                    <h2>
                        Remaining  Forecast
                    </h2>
                </header>

                <div id="cwcDetailHeader">
                    <div id="todayWeatherCard">
                        <ul>
                            <li style="border-width: 0 1px 0 0;
                                                padding: 0 5px;
                                                display: flex;
                                                justify-content: center;
                                                padding-left: 0;
                                                border-style: solid;
                                                border-image: linear-gradient(180deg,hsla(0,0%,87.1%,0) 0,#dedede 25%,#dedede 70%,hsla(0,0%,87.1%,0) 85%,hsla(0,0%,87.1%,0)) 1 100%;
                                                ">

                                <a href="#">
                                    <h3>11:00 AM</h3>
                                    <div><span>25 &deg;</span></div>
                                    <div><i class="fa fa-sun"></i></div>
                                    <div><i class="fa fa-snowflake"></i><span>8%</span></div>
                                </a>
                            </li>
                            <li style="
                                                list-style-type: none;
                                                border-style: solid;
                                                border-image: linear-gradient(180deg,hsla(0,0%,87.1%,0) 0,#dedede 25%,#dedede 70%,hsla(0,0%,87.1%,0) 85%,hsla(0,0%,87.1%,0)) 1 100%;">
                                <a href="#">
                                    <h3>01:00 AM</h3>
                                    <div><span>25 &deg;</span></div>
                                    <div><i class="fa fa-sun"></i></div>
                                    <div><i class="fa fa-bolt"></i><span>8%</span></div>
                                </a>
                            </li>
                            <li style="
                                                list-style-type: none;
                                                flex-basis: 20%;">
                                <a href="#">
                                    <h3>13:00 AM</h3>
                                    <div><span>25 &deg;</span></div>
                                    <div><i class="fa fa-sun"></i></div>
                                    <div><i class="fa fa-wind"></i><span>20%</span></div>
                                </a>
                            </li>
                            <li style="
                                                list-style-type: none;
                                                flex-basis: 20%;
                                                border-style: solid;
                                                border-image: linear-gradient(180deg,hsla(0,0%,87.1%,0) 0,#dedede 25%,#dedede 70%,hsla(0,0%,87.1%,0) 85%,hsla(0,0%,87.1%,0)) 1 100%;">
                                <a href="#">
                                    <h3>1:00 PM</h3>
                                    <div><span>25 &deg;</span></div>
                                    <div><i class="fa fa-sun"></i></div>
                                    <div><i class="fa fa-moon"></i><span>2%</span></div>
                                </a>
                            </li>
                            <li style="
                                                list-style-type: none;
                                                flex-basis: 20%;
                                                ">
                                <a href="#">
                                    <h3>15:00 PM</h3>
                                    <div><span>25 &deg;</span></div>
                                    <div><i class="fa fa-sun"></i></div>
                                    <div><i class="">--</i><span>27%</span></div>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>


                <footer id="cwcDetailBody">
                    <a href="#">Next Hours</a>
                </footer>

            </section>
        </div>


    <script>document.getElementById("fetchWeatherButton").addEventListener("click", function () {
            // Send a request to the Index action method
            fetch("/Weather/Index")
                .then(response => {
                    if (response.ok) {
                        // Handle a successful response
                    } else {
                        // Handle error response
                    }
                })
                .catch(error => {
                    console.error("Error fetching weather data:", error);
                });
        });</script>


