@model ForecastFavorLib.Models.Preferences

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Preferences</h4>
    <hr />
    <dl class="row">
         <dt class="col-sm-2">
            Notify on Rain
        </dt>
        <dd class="col-sm-10">
            @Model.NotifyOnRain ? "Yes" : "No"
        </dd>
        <dt class="col-sm-2">
            Notify on Sun
        </dt>
        <dd class="col-sm-10">
            @Model.NotifyOnSun ? "Yes" : "No"
        </dd>
         <dt class="col-sm-2">
            Notify on Clouds
        </dt>
        <dd class="col-sm-10">
            @Model.NotifyOnClouds ? "Yes" : "No"
        </dd>
        <dt class="col-sm-2">
            Notify on Snow
        </dt>
        <dd class="col-sm-10">
            @Model.NotifyOnSnow ? "Yes" : "No"
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredLocations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferredLocations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PreferencesID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
