@model IEnumerable<ForecastFavorApp.Models.PreferencesViewModel>

@{
    ViewData["Title"] = "Index";
}


<div class="alert-info alert-header" style="background-color: #27cdee38;text-align: center;">
    <h3>User Preferences</h3>
</div>

<a href="@Url.Action("Create", "Preferences" )" class="btn btn-success btn-sm">
    <i class="fa fa-plus"></i> <span style="font-weight:bold;">Assign new preference</span>
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Notify on Rain
            </th>
            <th>
                Notify on Sun
            </th>
            <th>
                Notify on Clouds
            </th>
            <th>
                Notify on Snow
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreferredLocations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(item.NotifyOnRain ? "Yes" : "No")
                </td>
                <td>
                    @(item.NotifyOnSun ? "Yes" : "No")
                </td>
                <td>
                    @(item.NotifyOnClouds ? "Yes" : "No")
                </td>
                <td>
                    @(item.NotifyOnSnow ? "Yes" : "No")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreferredLocations)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PreferencesId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PreferencesId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PreferencesId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    a {
        text-decoration: none;
    }
</style>
