@model IEnumerable<ForecastFavorLib.Models.Preferences>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Notify on Rain
            </th>
            <th>
                Notify on Sun
            </th>
            <th>
                Notify on Clouds
            </th>
            <th>
                Notify on Snow
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreferredLocations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @item.NotifyOnRain ? "Yes" : "No"
            </td>
            <td>
                @item.NotifyOnSun ? "Yes" : "No"
            </td>
             <td>
                @item.NotifyOnClouds ? "Yes" : "No"
            </td>
            <td>
                @item.NotifyOnSnow ? "Yes" : "No"
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredLocations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PreferencesID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PreferencesID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PreferencesID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
